<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>532079373473-5nt47popc7tgm3opntdjskngvdaj8hn1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.532079373473-5nt47popc7tgm3opntdjskngvdaj8hn1</string>
	<key>API_KEY</key>
	<string>AIzaSyC_cy7b35eUSVY7AipKOy4nmDkXqvBe6YQ</string>
	<key>GCM_SENDER_ID</key>
	<string>532079373473</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>fr.benabdelaziz.a11yPjt</string>
	<key>PROJECT_ID</key>
	<string>a11y-pjt</string>
	<key>STORAGE_BUCKET</key>
	<string>a11y-pjt.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:532079373473:ios:261751cb9a75a53cb754e0</string>
</dict>
</plist>